@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
section 
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}
section::before 
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#000dff,#000);
	animation: animate 5s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}
section span 
{
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	z-index: 2;
	transition: 1.5s;
}
section span:hover 
{
	background: #000dff;
	transition: 0s;
}
section.container{
	height: 100vh;
    width: 100vw;
    background: #bcd2f8;
    overflow: hidden;
}
section.header{
	position: relative;
    width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.logo h1{
    font-size: 25px;
    color: #007bff;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.1em;
}

section.logo span{
    color: #0de2d1;
}
section.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

section.nav-links ul li a{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #e0fbfc;
    transition: 0.4s;
}

section.nav-links ul li a:hover{
    color: #98c1d9;
    font-size: 25px;
}